*{
    box-sizing:border-box;
}

body{
    background-color:darkgoldenrod;
    color:midnightblue;
    margin:0px;
}

.header{
    background-color:beige;
    padding: 24px;
}
.key{
    color:brown
}
.header__title{
    font-size:4rem;
    text-align:center;
    text-transform:ipercase;
}

.header__subtitle{
    font-size:1rem;
    text-align:center;
}
.main-content{
    padding:24px
}

.number__list{
    list-style-type: decimal-leading-zero;    
}

.menu{
    background-color: darkkhaki;
}
.menu li{
    color:blueviolet;
    display:inline-block;
    padding:8px;
}

.submenu-trigger{
    position:relative;
}

.submenu-trigger:hover .submenu{
    display:block;
}

.submenu{
    background-color:aqua;
    display:none;
    left:0;
    padding:8px;
    position:absolute;
    top:100%;
}

.submenu li{
    display:block;
}

.week-days li{
    display: inline-block;
}

.week-days.flex{
    display:flex;
}

.vertical-days.flex {
    counter-reset:days;  
}

.vertical-days.flex div::before{
    background-color:aqua;
    border-radius:50%;
    counter-increment: days;

    color:blueviolet;
    content:counter(days);
    display:inline-block;
    height:20px;
    width:20px;
    text-align:center;
}

.translations{
    border:1px solid blueviolet;
    width:100%
}
.translations th,
.translations td{
    border:1px solid blueviolet;
}
translations tr{
    width:100%;
}

.right-content{
    background-color: blue;
}

.left-content{
    background-color: blue;
}

.grid-example{
    background-color: aquamarine;
    padding:48px 24px;
}
.grid-parent{
    display:grid;
    gap:12px;
    grid-template: repeat(3,200px)/ 1fr 1fr 3fr 2fr;

    grid-template-areas: 
    "featured featured . ."
    "featured featured seondary ."
    ". .seondary ."
    ;  
}

.grid-parent div{
    background-color:blueviolet;
    border-radius: 12px;
}
.grid-parent div:nth-child(even){
    background-color:#B2FFA9;
}

.featured{
    grid-area:featured;
}
.seondary{
    grid-area:seondary;
}