*{
    box-sizing:border-box;
}

html{
    height:100vh;
}
body{
    display:flex;
    flex-direction:column;
    height:100%;
    margin:0;
}

.header{
    background-color: aqua;
    color: blueviolet;
    padding:24px;
}

.main{
    background-color: blue;
    flex-grow: 1;
    padding: 18px;
}

header h1{
    font-size: 4rem;
    margin:0;
    text-align: 0;
    text-align:center;
}
.introduction{
    background-color: antiquewhite;
    border-radius: 20px;
    text-align: center;
    padding: 12px;

    h2{
        font-size: 2rem;
    }
}

.user-information{
    background-color: antiquewhite;
    border-radius: 20px;
    margin-top: 24px;
    padding: 16px;
}

.introduction h2{
    font-size: 2rem;
}
fieldset{
    border-radius: 12px;
    margin-bottom: auto;
}
.user-information{
    margin-top: 24px;
}

.user-input{
    margin-bottom: 8px;
}

.required::after{
    content:r'*';
    color:red;
    display:inline-block;
}

textarea{
    display: block;
    width: 90%;
    height: 100px;
}

.submit{
    background-color:brown;
    border:none;
    border-radius: 12px;
    color:aquamarine;
    cursor:pointer;
    padding:6px 12px;
}
.input type

.submit:hover{
    background-color: aqua;
    color: blanchedalmond;
}
.footer{

    background-color: brown;
    padding:24px;
    text-align:center;
}