.body{background-color:lightgreen

}

.sub-titile{
    font: size 32px;
    text-align:center;

}

.div{color:green
}
.div {color:red
}
p {color:blue}

.span{color:thistle
}

#page-title{
    color:red;
    font-size:  56px;
    text-align:center;
}
.command{
    background-color:yellow;
    color:brown;
    padding:26px;
    margin-bottom:8px;
}
.command__name{
    background-color:crimson;
    color:wheat;
    padding: 8px;
    
}

.command__syntax{
    font-weight:bold;
    padding:8px;

}
.command__description{
    background-color:lightgray;
    padding:8px;
}
